<template name ="main">
    <nav>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">회원정보</a></li>
            <li><a href="#!">로그아웃</a></li>
        </ul>
        {{#if currentUser}}
            <a class="dropdown-button right" href="#!" data-activates="dropdown1">{{cuser}}</a>
        {{/if}}
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><a href="{{pathFor route='write'}}">글쓰기</a></li>
          <li><a href="">강의신청</a></li>
          <li><a href="">강의등록</a></li>
          <li><a href="">수강목록</a></li>
          <li><a href="">강의목록</a></li>
          <li><a href="">자유게시판</a></li>
          <li><a href="">환경설정</a></li>
        </ul>
      </div>
    </nav>
</template>
