<template name ="main">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#">회원정보</a></li>
        <li><a href="#" class = "logout">로그아웃</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right">
            <a class="dropdown-button" href="#!" data-activates="dropdown1">{{cuser}}<i class="material-icons right">arrow_drop_down</i></a>
        </ul>
        <ul id="nav-mobile" class="left">
          <li><a href="{{pathFor route='write'}}">글쓰기</a></li>
          <li><a href="">강의신청</a></li>
          <li><a href="">강의등록</a></li>
          <li><a href="">수강목록</a></li>
          <li><a href="">강의목록</a></li>
          <li><a href="{{pathFor route='freepost'}}">자유대화함</a></li>
        </ul>
      </div>
    </nav>
</template>
