<template name ="mylectures">
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">강의목록</a>
        </div>
    </nav>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th data-field="id">과목명</th>
                    <th data-field="name">전공분류</th>
                    <th data-field="price">학생수</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</template>
