<template name ="write">
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">글쓰기</a>
        </div>
    </nav>
    <div class="row"></div>
     <div class="row">
         <form class="col s12">
             <div class="row">
                 <div class="input-field col s8 offset-s2">
                     <select id ="Classification">
                         <option value="" disabled selected>목록을 선택해주세요</option>
                         <option value="1">자유게시판</option>
                         <option value="2">Option 2</option>
                         <option value="3">Option 3</option>
                     </select>
                     <label>분류</label>
                 </div>
             </div>
             <div class="row">
                 <div class="input-field col s8 offset-s2">
                     <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
                     <label for="textarea1">내용</label>
                 </div>
             </div>
        </form>
    </div>
    <div class="row">
        <div class="wrapper">
            <button class="btn waves-effect waves-light" type="submit" id="submit">보내기</button>
        </div>
    </div>
</template>
