<template name = "login">
      <div class="row">
        <form class="col s12">
            <div class ="row">
                <div class="col s12 m6 offset-m2 mobile-login-img">
                    <img src ="/images/mainlogo.png" style ="80%" align="middle">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m3 offset-m4">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_email" type="text" class="validate">
                  <label for="icon_email">ID</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m3 offset-m4">
                  <i class="material-icons prefix">lock_open</i>
                  <input id="icon_password" type="password" class="validate">
                  <label for="icon_password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field3 col s12 m3 offset-m5">
                    <a id="login" class="waves-effect waves-light btn-large">로그인</a>
                </div>
            </div>
            <div class="row">
                <div class="row mobile-login-notid col s12 m3 offset-m5">
                     <a class="mobile-login-signup" href="{{pathFor route='signin'}}">회원이 아니신가요?</a>
                </div>
            </div>
        </form>
      </div>
</template>
