<template name ="mylectures">
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">강의목록</a>
        </div>
    </nav>
    <div class="row">
        <table class="centered">
            <thead>
                <tr>
                    <th data-field="id">과목명</th>
                    <th data-field="name">전공분류</th>
                    <th data-field="price">강의편집</th>
                </tr>
            </thead>
            <tbody>
                {{#each lectures}}
                    {{>mylectureform}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
