<template name="postComment">
    <nav>
        <div class="nav-wrapper">
          <a class="brand-logo center">댓글</a>
        </div>
    </nav>
    <div class="row"></div>
    <div class="row">
        <div class ="col 10 offset-s1">
            <span class="blue-text text-darken-2"><h5>{{content}}</h5></span><br>
            <img src="/images/ic_today.png"><span>{{submitted}}</span>
            <img src="/images/ic_perm.png"><span class="blue-text text-darken-2">{{postuser}}</span>
            <a href="{{pathFor route='postComment'}}"><img src="/images/ic_comment.png"></a>{{commentsCount}}
            <hr class="two">
        </div>
    </div>
    <div class="row">
        {{> submitComment}}
    </div>
    <div class="row col s7 offset-s3">
        {{#each comments}}
            {{> commentItem}}
        {{/each}}
    </div>
</template>
