<template name = "postItem">
    <div class="row">
        <div class="col s12">
            {{#if myPost}}<a href="{{pathFor route='postEdit'}}"><img src="/images/ic_data.png" align="right"></a>{{/if}}<br>
            <span class="blue-text text-darken-2"><h5>{{content}}</h5></span><br>
            {{#if judgePart}}<span class="blue-text text-darken-2">{{lectitle}}</span>{{/if}}
            <img src="/images/ic_today.png"><span>{{submitted}}</span>
            <img src="/images/ic_perm.png"><span class="blue-text text-darken-2">{{postuser}}</span>
            <a href="{{pathFor route='postComment'}}"><img src="/images/ic_comment.png"></a>{{commentsCount}}
            <hr class="two">
        </div>
    </div>
</template>
